@media (min-width:200px) and (max-width:824px){
    [class*="col-"]{
        width: 100%;
    }
    .list-menu {
        width: 100%;
        height: 3.5em;
    }
    .menu1{
        display: none;
    }
    .list-menu li a h5{
        text-align: left;
        margin-left: 1em;
        margin-top: 1em;
        margin-right: 7em;
    }
    .list-menu li a{
        padding: 0%;
    }
    .menu6-icon a{
        display: inline-block;

    }
    .fa-bars{
        border: 1px solid #56585a;
        border-radius: 0.1em;
        padding: 0.2em 0.5em;
        color:#9a9da0;
        text-align: center;
        font-size: 1em;
        box-sizing: content-box;
    }
    /* imagen heard*/
    .imagen-header img{
        object-fit: cover;
        width: 100%;
        height: 35em;
    }
    .title{
        font-size: 5em;
        padding-top: 15%;
    }
    .subtitle{
        font-size: 3em; 
        padding-top: 5%;  
    }
    /* container image */
    .image{
        width: 16em;
        height: 16em;
    }
    .title-content{
        padding: 0% 0% 0% 20%;
        margin: auto;
        font-size: 3em;
    }
    .paragraph{
        padding: 5% 0% 5% 20%;
        white-space: normal;
        width: 90%;
        margin: 0%;
    }
    .title-content1{
        padding-right: 0%;
        padding-left: 20%;
        padding-top: 0%;
        font-size: 3em;
    }
    .paragraph1{
        padding: 5% 0% 5% 20%;
        white-space: normal;
        width: 90%;
    }
    .paragraph2{
        padding: 5% 0% 5% 20%;
        white-space: normal;
        width: 90%;
    }
    .container-info{
        margin: 0%;
        padding: 0%;
    }
    .title-content2{
        padding-left: 20%;
        padding-top: 0%;
        font-size: 3em;
    }
}

